.container
{
	width: 900px;
}

body
{
	background: #306EFF;
}

header
{
	padding-top: 20px;
}

header img
{
	padding: 1em;
	background: #BDEDFF;
}

section
{
	margin-top: 1em;
	font-size: 120%;
	padding: 20px;
	background: #BDEDFF;
}

section h1
{
	font-size: 200%;
}
/* Links */

a
{
	color: #09c;
	text-decoration: none;
}

a:hover
{
	color: #069;
	text-decoration: underline;
}

a:visited
{
	color: #069;
}

/* Navigation */
nav
{
	float: right;
}

nav
{
	background-color: #BDEDFF;
	padding: 0 0.7em;
	white-space: nowrap;
}

nav ul
{
	margin: 0;
	padding: 0;
}

nav ul li
{
	list-style-type: none;
	display: inline-block;
	padding: 0.2em 0;
}

nav ul li a
{
	padding: 0 5px;
	font-weight: bold;
}

nav ul li a:visited
{
	color: #09c;
}

nav ul li a:hover
{
	text-decoration: underline;
}
/* Register button */
a.register_button
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 190px;
	color: #fff;
	background: #153E7E;
	font-size: 150%;
	font-weight: bold;
	padding: 20px;
}

/* Round corners */
.round
{
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

footer
{
	text-align: center;
	margin-top: 10px;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
}
footer nav
{
	float: none;
}
/* User show page */

table.profile
{
	width: 100%;
	margin-bottom: 0;
}

td.main
{
	width: 70%;
	padding: 1em;
}

td.sidebar
{
	width: 30%;
	padding: 1em;
	vertical-align: top;
	background: #3BB9FF;
}

.profile img.gravatar
{
	border: 5px solid #999;
	margin-bottom: -15px;
}

	div.field, div.actions
	{
	margin-bottom: 10px;
}

.field_with_errors
{
	margin-top: 10px;
	padding: 2px;
	background-color: red;
	display: table;
}
	.field_with_errors label
	{
	color: #fff;
}
#error_explanation
{
	width: 400px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 12px;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
#error_explanation h2
{
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	background-color: #c00;
	color: #fff;
}
#error_explanation p
{
	color: #333;
	margin-bottom: 0;
	padding: 5px;
}
#error_explanation ul li
{
	font-size: 12px;
	list-style: square;
	padding: 5px
}
ul.users {
	margin-top: 1em;
}

.users li
{
	list-style:none;
}

.background1
{
	background: #E8E8E8;
}
.background2
{
	background: #D4D4D4;
}
.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

th .asc:after {
  width: 0;
  height: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333;
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
}

th .desc:after {
  width: 0;
  height: 0;
  content: "";
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333;
  position: absolute;
  margin-top: 7px;
  margin-left: 5px;
}
#map {
    border: 2px solid black;
    height: 500px;
    width: 500px;
}
#holder{
	height:90px;
	width:210px;
	background-color:#F5F5F5;
	border:1px solid #A4A4A4;
	margin-left:10px;
}
.place {
	position:relative;
	margin:7px;
}
.place a{
	font-size:0.6em;
}
.place li
{
	list-style: none outside none;
	position: absolute;
}
.place li:hover
{
	background-color:yellow;
}
.place .seat{
	background:url("/images/available_seat_img.gif") no-repeat scroll 0 0 transparent;
	height:33px;
	width:33px;
	display:block;
}
.place .reservedSeat
{
	background-image:url("/images/reserved_seat_img.gif");
}
.place .selectingSeat
{
	background-image:url("/images/selected_seat_img.gif");
}
.place .row-3, #place .row-4{
	margin-top:10px;
}
#seatDescription li{
	verticle-align:middle;
	list-style: none outside none;
	padding-left:35px;
	height:35px;
	float:left;
}

