<h1>You are admin</h1>
<p>
  You will be able to create tickets
</p>
<p>
  Welcome migthy admin whos name is <b><%= current_user.name %></b> to this website!
</p>
<%= link_to "List of Tickets", tickets_path %>

