<h1>Bus Company Support</h1>
<p>
  Welcome to Bus Company Support. You are driver, you can inform company about customers who bought tickets that they have reserved.
</p>
<p>
  Welcome <b><%= current_user.name %></b> to this website!
</p>

