<h1>Bus Company Support</h1>
<p>You are not logged in. Please <%= link_to "log in", log_in_path %> or register by clicking button below</p>
<%= link_to "Register now!", register_path, :class => "register_button round" %>

