<h1>About this webpage</h1>
<p>
  The system has been developed to support and automatize process of ticket reserving. This system was created as a bachelor thesis. It was designed using <a href="http://railstutorial.org">Rails Tutorial</a> as basic foundation.
</p>

