<h1>Contact</h1>
  <p>
    To contact with author please write at : tkaczykkonrad...gmail.com - please change 3 dots into 'at'(@) sign
  </p>
  <p>
   <div><script charset="UTF-8" src="http://edodatki.pl/code/odliczanie-dat?data%5BWidget%5D%5Bdate%5D=2011-11-19+08%3A00&data%5BWidget%5D%5Bdescription%5D=Otwarcie+bram+nieba&data%5BWidget%5D%5Bcolor%5D=%23cccccc&data%5BWidget%5D%5Btype%5D=1&data%5BWidget%5D%5Bafter%5D=Puk+Puk&data%5BWidget%5D%5Bcss%5D=black&data%5BWidget%5D%5Bshape%5D=style_2" type="text/javascript"></script></div>
  </p>

