<% content_for :javascript_includes do %>
  <%= javascript_include_tag "OpenLayers.js" %>
  <%= javascript_include_tag "IndexMap.js" %>
<% end %>

    <div id="map"></div>
    <br />


<table id="FoundTickets">
  <tr>
    <th>City rom </th>
    <th>City to</th>
    <th>Date of trip</th>
    <th>End of trip</th>
    <th>Bus id</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% seats = [1,2,3,4,5,6,7,8,9,10] %>
  <% i = 0 %>
<% tripTickets = Array.new %> <!-- array of free seats -->
<% @tickets.each_cons(2) do |ticket,ticket2| %>
  <% if ticket.trip != ticket2.trip || ticket2.nil?%>
    <%= render :partial => 'shortest_path_row', :locals => {:ticket => ticket, :tripTickets => tripTickets, :seats => seats} %>
    <% tripTickets.clear %>
  <%elsif ticket.trip != ticket2.trip || ticket2 == @tickets.last%>
  <%tripTickets.push(ticket2.name_of_seat.to_i)%>
    <%= render :partial => 'shortest_path_row', :locals => {:ticket => ticket2, :tripTickets => tripTickets, :seats => seats} %>
  <% end %>
  <% if ticket == @tickets[0] %>
    <% tripTickets.push(ticket.name_of_seat.to_i) %>
  <% end %>
  <% tripTickets.push(ticket2.name_of_seat.to_i) %>
  <% trip = ticket2.trip %>
<% end %>
</table>
<br />
<% if @tickets == nil %>
  Sorry no possible route have been found.
<% end %>
<input type="button" id="Reserve" value="Reserve selected seats" />
<br />

